body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

a {
  color: #00B7FF;
}
.title{
  color: white;
  position: static;
}

.form-group{
  color: white;
  size: 70px;
}

.background {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.btn-group{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}